@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}


/*
Adding a cool underline effect on links 
as described here http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*/
a {
    position: relative;
    color:blue;
    text-decoration: none;
    font-weight: bold;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.header {
    position: relative;
    height: 80vh;
    overflow: hidden;
    background-color: #320734;
}

.header_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #320734;
    background-image: url('../img/splash.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
    /*
    Css inside this media query applies on screens smallen than 600px
    */
    .header {
        height: 50vh;
    }
    .header_background {
        background-image: url('../img/splash.small.jpg');
    }
    .main_content h1 {
        font-size: 1.5em;
    }
}
.main_content {
    padding: 20px;
    max-width: 420px;
    margin: 0 auto;
    
}